services:
  backend:
    build: ./backend
    container_name: sectestops-backend
    env_file:
      - .env
    environment:
      - APP_HOST=${APP_HOST:-0.0.0.0}
      - APP_PORT=${APP_PORT:-8000}
      - OUTPUT_DIR=${OUTPUT_DIR:-/app/data}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    cap_add:
      - NET_RAW
      - NET_ADMIN
    volumes:
      - ./backend/src:/app/src
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: sectestops-frontend
    volumes:
      - ./frontend/web:/usr/share/nginx/html
    ports:
      - "8080:80"
    depends_on:
      - backend

  zap:
    image: ghcr.io/zaproxy/zaproxy:stable
    container_name: sectestops-zap
    command: ["sleep", "infinity"] # Backend docker exec ile hızlı tarama başlatacak
    volumes:
      - ./data:/zap/wrk

